:root { --sidebar-width: 260px; }
       /* body { display: flex; min-height: 100vh; overflow-x: hidden; } */

        /* Sidebar */
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: var(--sidebar-width);
            background-color: #2c3e50;
            color: white;
            display: flex;
            flex-direction: column;


        }
        .sidebar-menu {
            overflow-y: auto;

            /* Firefox (padrão oficial) */
            scrollbar-width: thin;
            scrollbar-color: #666 transparent;
        }

        .sidebar-header {
            padding: 20px;
            background-color: #1a252f;
            text-align: center;
        }
        body.dark .sidebar-header {
            padding: 20px;
            background-color: #131313;
            text-align: center;
        }
        .sidebar-header a { color: white; text-decoration: none; }


        .menu-secao {
            padding: 15px 20px 5px;
            font-size: 0.75rem;
            text-transform: uppercase;
            color: #95a5a6;
            letter-spacing: 1px;
        }
        .nav-link {
            color: #bdc3c7;
            padding: 10px 25px;
            display: flex;
            align-items: center;
            transition: 0.2s;
        }
        .nav-link:hover { background-color: #34495e; color: white; }
        .nav-link i { width: 25px; margin-right: 10px; }

        /* Conteúdo */
        .main-container { flex: 1; margin-left: var(--sidebar-width); background-color: #f8f9fa; }

        /* Navbar Superior Fixa */
        .top-navbar {
            height: 60px;
            background-color:none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 30px;
            border-bottom: 1px solid #dee2e6;
            position: sticky;
            top: 0;
            z-index: 999;
        }

        .tema-geral-btn {

            background-color: #0c1317;
            color: white;
            border: none;
            border-radius: 6px;
            padding: 6px 12px;
            --bs-btn-hover-bg: #162127;
        }
        body.dark .tema-geral-btn {

            background-color: #cdcdcd;
            color: black;
            border: none;
            border-radius: 6px;
            padding: 6px 12px;

        }
        body.dark .tema-geral-btn:hover{
            background-color: #a1a1a1;

        }
        .content-area { padding: 30px; }

        /* Dark Mode overrides para a estrutura */
        body.dark .main-container { background-color: #121212; }
        body.dark .top-navbar { background-color: #1e1e1e; border-bottom-color: #333; color: white; }
        body.dark .sidebar { background-color: #1a1a1a; }