{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block title %}Ajuda{% endblock %}

{% block body_class %}pagina-excluir{% endblock %}
{% block content %}


<div class="card">
    <div class="card-header">
        <h2> class="display-4"> Ajuda</h2>

    </div>
    <div class="card-body">
        <h5> Descubra mais sobre as funcionalidades desta biblioteca </h5>

     <ul>
         <p>Você pode ver algumas informações sobre:</p>
        <li><a href="#cadastro de livro">Cadastro de livro</a></li>
        <li><a href="#editoras">Editoras</a></li>
        <li><a href="#tema de usuario">Tema de usuario</a></li>
    </ul>

    <h2></h2>

    </div>
</div>
{% endblock %}