
{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block title %}Emprestimos de Livros{% endblock %}

{% block body_class %}pagina-excluir{% endblock %}
{% block content %}




<script>
function mudarTema() {
    document.body.classList.toggle("dark");

    if (document.body.classList.contains("dark")) {
        localStorage.setItem("tema", "dark");
    } else {
        localStorage.setItem("tema", "light");
    }
}

/* Aplicar tema salvo ao carregar a página */
if (localStorage.getItem("tema") === "dark") {
    document.body.classList.add("dark");
}
</script>


<div class="card">
    <div class="card-header">
        <h1>Emprestimos do livro: {{livro.titulo}}</h1>
        <div class="card-button">
            <!-- Botão de alternar tema -->
                <button class="tema-btn" onclick="mudarTema()">Alternar Tema</button>
        </div>
    </div>
    <div class="card-body">

    {% for e in emprestimos %}
        <div class="card">
             <div class="card-body">
                <hr>
                 <td>
                 <img src="{{ l.foto.url }}"
                      style="width: 50px; height: 75px; object-fit: cover; border-radius: 4px; cursor: zoom-in;"
                      data-bs-toggle="modal"
                      data-bs-target="#fotoModal"
                      data-bs-titulo="{{ l.titulo }}"
                      data-bs-url="{{ l.foto.url }}"
                      onclick="ampliarFoto(this)">
                 </td>
                <h5 class="card-title">Id: {{e.id}}</h5>
                <h5 class="card-title">Aluno: {{ e.aluno_id }}</h5>
                <h5 class="card-title">Data do Empréstimo: {{ e.data_emprestimo }}</h5>
                <h5 class="card-title">Data Prevista: {{ e.data_prevista_devolucao }}</h5>
                <h5 class="card-title">Data de Devolução: {{ e.data_devolucao }}</h5>
                <h5 class="card-title">Status: {{ e.get_status_display }}</h5>
            </div>
        </div>
    {% empty %}
        <div class="card">
             <div class="card-body">
                <p><h5>Este livro não possui empréstimos. </h5></p>
             </div>
        </div>
    {% endfor %}
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
        </form>
    </div>
</div>

{% endblock %}